.container {
    margin: 0 auto;
    width: 320px;
    display: flex;
    align-items: center;
    margin-bottom: 75px;
    padding-left: 15px;

    &__description {
        margin-left: 45px;
    }
}