.search-form {
    width: 100%;
    padding: 15px 0;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__input {
        border-radius: 11px;
        border: solid 1px #979797;
        margin-left: 15px;
        width: 130px;
        height: 31px;
    }

    &__label {
        font-size: 13px;
    }

    .ml {
        margin-left: 45px;

        @media(max-width: 550px) {
            margin-left: 15px;
        }
    }
}